body {
  background-color: #e0e8ff;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.a {
  background-color: white;
  width: 320px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 20px 40px rgba(0,0,0,0.15);
  overflow: hidden;

  /*overflow: hidden; ეს არ ვიცოდი და ეხლა ვისწავლე კეთევისას
   თუ შიგნით არსებული ტექსტი, სურათი ან სხვა ელემენტი ზედმეტად დიდია,
    ის ნაწილი, რომელიც გარეთ გადის: */
    
}

.top {
  background-color: #382ae1;
}

.top img {
  width: 100%;
}

h2 {
  margin: 20px 0 10px;
}

.b {
  font-size: 14px;
  color: gray;
  padding: 0 20px;
}

.c {
  background-color: #f5f7ff;
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-left {
  display: flex;
  align-items: center;
}

.d {
  font-size: 24px;
  margin-right: 10px;
}

.c p {
  margin: 5px 0 0;
  color: gray;
  font-size: 14px;
}

.c a {
  color: #382ae1;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
}

.m {
  background-color: #382ae1;
  color: white;
  border: none;
  padding: 15px;
  width: 80%;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 15px;
}

.m:hover {
    background-color: #4d3fe9;
}

.h {
  color: gray;
  font-size: 14px;
  margin-bottom: 20px;
  cursor: pointer;
}

.h:hover {
    color: black;
}

.y:hover {
    color: #4d3fe9;
}