
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.b {
    background-color: orange;
    color: white;
    padding: 10px;
    font-weight: bold;
}

.c {
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.l {
    background-color: orange;
    color: white;
}

.k {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px;
}

.k1 {
    width: 45%;
}

.k1 h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.k1 p {
    color: gray;
    margin-bottom: 25px;
}

.k-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.k-image img {
    width: 400px;
    border-radius: 10px;
}


.q {
    display: flex;
    gap: 20px;
    padding: 40px 80px;
}

.q img {
    width: 250px;
    border-radius: 10px;
}


.p {
    padding: 40px 80px;
}

.p h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.p p {
    color: gray;
    width: 60%;
}

.u {
    display: flex;
    justify-content: space-between;
    padding: 60px 80px;
}

.i {
    width: 22%;
}

.r {
    background-color: orange;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    border-radius: 8px;
}

.i h3 {
    margin-bottom: 10px;
}

.i p {
    color: gray;
    font-size: 14px;
}

.m {
    text-align: center;
    padding: 20px;
    color: gray;
}
