body{
    background-color: #f4d25c;
    justify-content: center;
    display: flex;
}

.perent{
    background-color: white;
    width: 360px;
    height: 460px;
    border: 5px;
    border-color: black;
    box-shadow: 8px , 5px;
}

.child{
    border-top: 20px;
    border: solid 3px;
    box-shadow: 8px , 5px , 1px ;
    width: 400px;
    height: 470px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 18px;
}

button{
    background-color: #f4d25c;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    border: 3px;
    font-weight: bold;

}

.image1{
    width: 40px;
    border-radius: 30%;
}

h1{
    font-size: 20px;
}

.p1{
    color: gray;
}

.child1 {
    display: flex;
    gap: 10px;
}

.greg{
    font-style: bold;
}