body {

    margin: 0;
    padding: 0;
    color: #333;
}

header {

    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 2em;
}

.player {
    text-align: center;
    margin: 40px auto;
    max-width: 600px;
    background: white;
    padding: 20px;
    border-radius: 12px;

}

.player img {
    width: 300px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.player p {
    font-size: 1.1em;
    line-height: 1.5;
    /*სტრიქონებს შორის სივრცის გაზრდა ტექსტს უფრო
    მარტივად წასაკითხს ხდის,*/
}

;

button {
    background: #444;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 1.2em;
    border-radius: 8px;

}