.container {
    display: flex;
    gap: 20px;
    margin: 20px;
}

.box {
    width: 120px;
    height: 150px;

    display: flex;

}


.box1 {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}


.box2 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}


.box3 {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.box4 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
}

.item {
    width: 25px;
    height: 25px;
    background: #ff6b6b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-weight: bold;
}

