.img{
    border-radius: 50%;
}

.perent{
    background-color: black;
    width: 300px;
    height: 700px;
    padding: 20px;
    border-radius: 10px;
}

.p1{
    color: white;
    font-size: 20px;

}

.p{
    color: aquamarine;
}

.button{
    width: 250px;
    height: 50px;
    border: 30%;
    background-color: rgb(51, 50, 50);
    color: white;
}

h1{
    color: white;
}